/* General styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Container */
div[ngIf] {
    width: 50%;
    max-width: 600px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

/* Headings */
h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #007bff;
    text-align: center;
}

/* Form styles */
form {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form div {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

form #remaining-points {
    display: flex;
    align-items: center;
}

label {
    font-size: 14px;
    margin-bottom: 5px;
    color: #555;
    display: block;
}

input, select {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
    transition: border-color 0.3s;
}

input:focus {
    border-color: #007bff;
    outline: none;
}

/* Buttons */
button {
    padding: 10px 15px;
    font-size: 14px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
    align-self: center;
}

button[disabled] {
    background-color: #ccc;
    cursor: not-allowed;
}

button:not([disabled]):hover {
    background-color: #0056b3;
}

button + button {
    margin-left: 10px;
}

/* Remaining points */
span {
    font-weight: bold;
    color: #007bff;
    margin-top: 10px;
    text-align: center;
    display: block;
}


/* Additional styles for better form appearance */
form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: auto;
    width: 50%;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
}

form div label {
    margin-bottom: 5px;
}

form div input {
    margin-bottom: 10px;
}

form button {
    align-self: center;
}

#deletebtn {
    background-color: #dc3545;
}
