<div>
  <form [formGroup]="addheroForm" (ngSubmit)="save()">
    <div>
      <h1>Ajouter un Héro 🗿</h1>
      <label for="name">Nom</label>
      <input id="name" formControlName="name" />
    </div>
    <div>
      <label for="attack">Attaque</label>
      <input id="attack" formControlName="attack" type="number" />
    </div>
    <div>
      <label for="dodge">Esquive</label>
      <input id="dodge" formControlName="dodge" type="number" />
    </div>
    <div>
      <label for="damage">Dégat</label>
      <input id="damage" formControlName="damage" type="number" />
    </div>
    <div>
      <label for="hp">Vie</label>
      <input id="hp" formControlName="hp" type="number" />
    </div>
    <div id="remaining-points">
      <span id="remainingPoints">Points restant : </span
      >{{ getRemainingPoints() }}
    </div>

    <button type="submit" [disabled]="!isValid()">Ajouter votre héro</button>
  </form>
  <button (click)="goBack()">Retour</button>
  <app-message></app-message>
</div>
